<html>
	<head>
		<meta charset= "UTF-8">
		<title>야콜 확인</title>
		<link rel="stylesheet" href="/hapdong.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	</head>
	<body>
		<div class="check-container">
			<div class="check-container_head">
				<i class="fas fa-home fa-lg" onclick="location.href='/'"></i><h1 style="font-size:28px;">10 월</h1>
				<i class="fas fa-home black fa-lg" onclick="location.href='/'"></i>
			</div>
			<div class="check-container_bottom">
				<h1 style="font-size:20px;">야간 콜택시</h1>
				<table>
					  <thead>
						<tr>
						  <th>이름</th><th>횟수</th>
						</tr>
					  </thead>
					  <tbody>
						{% for result in yacol %}
						<tr>
							<td>{{result.driver}}</td>  
							<td>{{result.count}}</td>  
						</tr>
						{% endfor%}
					  </tbody>
				</table>
				<h1 style="font-size:20px;">주말 콜택시</h1>
				<table>
					  <thead>
						<tr>
						  <th>이름</th><th>횟수</th>
						</tr>
					  </thead>
					  <tbody>
						{% for result in jumal %}
						<tr>
							<td>{{result.driver}}</td>  
							<td>{{result.count}}</td>  
						</tr>
						{% endfor%}
					  </tbody>
				</table>
			</div>
			
		</div>
		
	</body>