{% extends 'layout.html' %}

{% block content %}
<div class="search-container" >
	<div class="searchXY">
		<input type="text" id="keyword" placeholder="카페 이름" onkeyup="enterkey()">
		<button type="button"  onclick="searchPlaces()">검색</button>
		<div id="placesList"></div>
	</div>
	<div class="editBox" id="editBox" style="display:none;">
		<form method="POST" action="/post/editShop" enctype="multipart/form-data">
			<div class="img-preview"></div>
			<input type="file" oninput="able()" id="uploadbtn" name="img" accept="image/*" multiple><br>
			<input name="label"  id="label" placeholder="카페 이름" oninput="able()"><br>
			<input name="x" id="x" placeholder="x" oninput="able()"><br>
			<input name="y" id="y" placeholder="y" oninput="able()"><br>
			<input name="phone" id="phone" onKeyup="inputPhoneNumber(this);" maxlength="13" placeholder="연락처" oninput="able()"><br>
			<input name="road_address" id="road_address" placeholder="도로명 주소" oninput="able()"><br>
			<button type="submit" id="btn" disabled>입력완료</button>
		</form>
	</div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5551822d523c32a727c9565bfcb3814&libraries=services"></script>
{% endblock %}


{% block script %}
<script>
	const uploadbtn = document.getElementById('uploadbtn');
	const label = document.getElementById('label');
	const x = document.getElementById('x');
	const y = document.getElementById('y');
	const phone = document.getElementById('phone');
	const road_address = document.getElementById('road_address');
	const btn = document.getElementById('btn');
	function able() {
  	btn.disabled = !uploadbtn.value || !label.value || !x.value || !y.value || !phone.value ||  !road_address.value;
	}
</script>
<script>
function enterkey() {
    if (window.event.keyCode == 13) {
        searchPlaces();
    }
}
</script>
<script>
     if (document.getElementById("uploadbtn")) {
  let uploadNum = 0; //올린 사진 셀 변수
  let index = 0; //img 에 붙일 index
  document.getElementById("uploadbtn").addEventListener("change", function (e) {
    const formData = new FormData(); //서버로 보낼 이미지 form
    const length = this.files.length;
    const max = 5; //사진 최대 5장까지
    switch (uploadNum) {
      case 0:
        if (length > max - uploadNum) {
          alert("사진은 최대 5장까지만 가능합니다.");
          return;
        }
        uploadNum += length;
        break;
      case 1:
        if (length > max - uploadNum) {
          alert("사진은 최대 5장까지만 가능합니다.");
          return;
        }
        uploadNum += length;
        break;
      case 2:
        if (length > max - uploadNum) {
          alert("사진은 최대 5장까지만 가능합니다.");
          return;
        }
        uploadNum += length;
        break;
      case 3:
        if (length > max - uploadNum) {
          alert("사진은 최대 5장까지만 가능합니다.");
          return;
        }
        uploadNum += length;
        break;
	  case 4:
        if (length > max - uploadNum) {
          alert("사진은 최대 5장까지만 가능합니다.");
          return;
        }
        uploadNum += length;
        break;
      default:
        alert("사진은 최대 5장까지만 가능합니다.");
        return;
    }
    console.log("업로드한 사진 : ", uploadNum);
    console.log("현재 올린 사진 : ", this.files);
    for (let i = 0; i < length; i++) {
      formData.append("img", this.files[i]);
      index++;
    }
    axios.post("/post/img", formData).then((res) => {
      let url = JSON.parse(res.data);
      console.log(url);
      let img_html = "";
      for (let i = 0; i < url.length; i++) {
        console.log("미리보기", url[i]);
         img_html += `<div class="img-preview${index}">
                  <img id="img-preview${index}" src="${url[i]}" width="250" alt="미리보기">
				  <input id="img-url" type="hidden" name="url" value="${url[i]}">
                  </div>`;
        console.log("json 길이 : ", url.length);
        console.log("서버통신index:", index);
        console.log(img_html);
      }
      $(".img-preview").append(img_html);
    });
  });
}
</script>
<script>
var ps = new kakao.maps.services.Places();
	
function searchPlaces() {
    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
	var q = keyword;
    ps.keywordSearch( q, placesSearchCB); 
}
	
	
function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {
		var el =[];
		for(var j=0;j<data.length;j++){
			var x = data[j].x;
			var y = data[j].y;
			var title = "'" + data[j].place_name + "'";
			var address = "'" + data[j].address_name + "'";
			var road_address = "'" + data[j].road_address_name + "'";
			
			var itemStr =	'<div class="info" onclick="posit('+ x + ',' + y + ',' + title + ',' + road_address + ')">' +
                '   <h5>' + data[j].place_name + '</h5>';
			
			if (data[j].road_address_name) {
				itemStr += '    <div class="street">' + data[j].road_address_name + '</div>' +
							'   <div class="jibun gray">' +  data[j].address_name  + '</div>';
			} else {
				itemStr += '    <div>' + data[j].address_name  + '</div>'; 
			}
			  itemStr += '  <div class="tel">' + data[j].phone  + '</div>' +
						'</div>';           
			el += itemStr
		}
		document.getElementById('placesList').innerHTML = el;
		
    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
        alert('검색 결과가 존재하지 않습니다.');
        return;
    } else if (status === kakao.maps.services.Status.ERROR) {
        alert('검색 결과 중 오류가 발생했습니다.');
        return;
    }
}

function posit(x, y, title, road_address){
	document.getElementById('editBox').style.display = "";
	document.getElementById('placesList').innerHTML = "";
	document.getElementById('label').value = title;
	document.getElementById('x').value = x;
	document.getElementById('y').value = y;
	document.getElementById('road_address').value = road_address;
}
</script>
<script>
	function inputPhoneNumber(obj) {
    var number = obj.value.replace(/[^0-9]/g, "");
    var phone = "";

    if(number.length < 4) {
        return number;
    } else if(number.length < 7) {
        phone += number.substr(0, 3);
        phone += "-";
        phone += number.substr(3);
    } else if(number.length < 11) {
        phone += number.substr(0, 3);
        phone += "-";
        phone += number.substr(3, 3);
        phone += "-";
        phone += number.substr(6);
    } else {
        phone += number.substr(0, 3);
        phone += "-";
        phone += number.substr(3, 4);
        phone += "-";
        phone += number.substr(7);
    }
    obj.value = phone;
}
</script>
{% endblock %}