<!DOCTYPE html>
<html>
	<head>
		<meta charset= "UTF-8">
		<title>합동신청</title>
		<link rel="stylesheet" href="/hapdong.css">
		<meta name="viewport" content=" user-scalable=no">
		<script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
	</head>
	<body>
		<div class="hapdong-container">
			<div class="wraa">
				<div class="time">
				<div class="time-box">
				<div class="GoToWork" onclick="location.href='/gtw'">출근 신청</div>
				<div class="OffWork" onclick="location.href='/off'">퇴근 신청</div>
			</div>	
				</div>
			
			<div id="divClock" class="clock"></div>
			<div id="GTWtable" class="table">
				<table>
					<tr>
						<th>운행</th>
						<th>신청 현황</th>
					</tr>
					{% if not gtw1 %}
					<tr>
						<td>거여(06:40)</td>
						<td>
						<button type="button" onclick="apply('거여')">신청하기</button>
						</td>
					</tr>
					{% else %}
					<tr>
						<td rowspan=2>거여(06:40)</td>
						<td>선탑자 : {{gtw1.applicant}}</td>
						<td rowspan=2><button type="button" onclick="cancle({{gtw1.id}})">취소하기</button></td>
					</tr>
					<tr>
						<td>
							운전자 : {{gtw1.driver}}
						</td>
					</tr>
					{% endif %}
					{% if not gtw2 %}
					<tr>
						<td>양재(06:50)</td>
						<td>
						<button type="button" onclick="apply('양재')">신청하기</button>
						</td>
					</tr>
					{% else %}
					<tr>
						<td rowspan=2>양재(06:50)</td>
						<td>선탑자 : {{gtw2.applicant}}</td>
						<td rowspan=2><button type="button" onclick="cancle({{gtw2.id}})">취소하기</button></td>
					</tr>
					<tr>
						<td>
							운전자 : {{gtw2.driver}}
						</td>
					</tr>
					{% endif %}
				</table>
			</div>
			<div class="nope" id="nope" style="display:none;">
				<h5>합동 신청이 마감되었습니다.</h5>
			</div>
				<button type="button" onClick="sendLinkDefault();" id="btnn">공유하기</button>
			<div class="alertInfo">
				<h1>신청 시 주의사항</h1>
				<u1>
					<li>매일 17시부터 19시 59분까지 다음날 출,퇴근 합동신청 가능</li>
					<li>선탑자 이름은 합동을 같이 나갈 선탑자의 이름을</li>
					<li>운행자 이름은 운전을 직접하는 사람의 이름을</li>
					<li>관등성명을 명확하게 적으십시오<br>ex)상병 허원서</li>
					<li>오류사항은 010-9310-9024로 알려주십쇼</li>
				</u1>
			</div>
			<div class="passForm" id="checkPass" style="display:none;">
				<input type="hidden" id="canceledId">
				<input type="password" id="passwords" maxlength="4" placeholder="비밀번호"><br>
				<button type="button" onclick="cancle2()">확인</button>
			</div>
			<div class="applyForm" id="applyForm" style="display:none;">
				<form method="POST" action="/hapdong/apply" id="frm">
					<input type="text" id="date" name="date" value="{{date}}" readonly><br>
					<input type="text" id="when" name="when" oninput="able()" readonly><br>
					<input type="text" id="schedule" name="schedule" oninput="able()" readonly><br>
					<input type="text" id="applicant" name="applicant" oninput="able()" placeholder="선탑자(신청자) 계급 이름"><br>
					<input type="text" id="driver" name="driver" oninput="able()" placeholder="운행자 계급 이름"><br>
					<input type="password" id="password" maxlength="4" name="password" oninput="able()" placeholder="비밀번호 네자리(변경시 사용)"><br>
					<button type="button" id="btn" onclick="check()" disabled>신청하기</button>
				</form>
			</div>
			</div>
		</div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
			let today = new Date();
			let year = today.getFullYear(); // 년도
			let month = today.getMonth() + 1;  // 월
			var date = today.getDate() + 1;  // 날짜
			let day = today.getDay();
			let hours = today.getHours(); // 시
			let minutes = today.getMinutes();// 분
			switch(day){
				case 0 : day = '월요일';
					break;
				case 1 : day = '화요일';
					break;
				case 2 : day = '수요일';
					break;
				case 3 : day = '목요일';
					break;
				case 4 : day = '금요일';
					break;
				case 5 : day = '토요일';
					break;
				case 6 : day = '일요일';
					break;
					
			}
			if(hours<17 || hours>19){
				document.getElementById('GTWtable').style.display = 'none';
				document.getElementById('nope').style.display = '';
			}
			document.getElementById('divClock').innerHTML = `${year}년 ${month}월 ${date}일 ${day} 출근 합동 신청`;
		</script>
		<script>
			function apply(schedule){
				document.getElementById('schedule').value = schedule;
				document.getElementById('when').value = '출근';
				document.getElementById('applyForm').style.display = '';
			}
			function cancle(id){
				document.getElementById('checkPass').style.display = '';
				document.getElementById('canceledId').value = id;
			}
			function cancle2(){
				if (!confirm('취소하시겠습니까?')){
					return;
				}else{
					var id = document.getElementById('canceledId').value;
					var password = document.getElementById('passwords').value;
					var date = document.getElementById('date').value;
					axios.post(`/hapdong/${id}/${date}/${password}/cancle`)
						.then((res) => {
							if(res.data.result=='t'){
								alert('성공적으로 취소되었습니다.');
								window.location.reload();
							}else{
								alert('잘못된 비밀번호입니다.');
								return;
							}
						})
						.catch((err) => {
						  console.error(err);
						});
				}
			}
		</script>
		<script>
			const applicant = document.getElementById('applicant');
			const driver = document.getElementById('driver');
			const password = document.getElementById('password');
			const btn = document.getElementById('btn');
			function able() {
				btn.disabled = !password.value || !applicant.value || !driver.value;
			}
		</script>
		<script>
			function check(){
				var schedule = document.getElementById('schedule').value;
				var when = document.getElementById('when').value;
				var applicant = document.getElementById('applicant').value;
				var driver = document.getElementById('driver').value;
				if (!confirm(`수정하는 과정이 귀찮으니 한번 더 확인해주십쇼.\r\n${when}\r\n${schedule}\r\n선탑 : ${applicant} \r\n운행 : ${driver}\r\n맞습니까?`)) {
					return;
				}else{
					document.getElementById('frm').submit();
				}
			}
		</script>
		<script>
			try {
			  function sendLinkDefault() {
				Kakao.init('d5551822d523c32a727c9565bfcb3814')
				Kakao.Link.sendDefault({
				  objectType: 'feed',
				  content: {
					title: '합동가자!',
					description: '나랑 합동갈래...?',
					imageUrl:'https://millim.s3.ap-northeast-2.amazonaws.com/photo_0.JPG',
					link: {
					  mobileWebUrl: 'https://tripple.run.goorm.io/gtw',
					  webUrl: 'https://tripple.run.goorm.io/gtw',
					},
				  },
				  buttons: [
					{
					  title: '그래! 가자',
					  link: {
						mobileWebUrl: 'https://tripple.run.goorm.io/gtw',
						webUrl: 'https://tripple.run.goorm.io/gtw',
					  },
					},
				  ],
				})
			  }
			; window.kakaoDemoCallback && window.kakaoDemoCallback() }
			catch(e) { window.kakaoDemoException && window.kakaoDemoException(e) }
		</script>
	</body>
</html>