<!DOCTYPE html>
<html>
	<head>
		<meta charset= "UTF-8">
		<title>JEJU</title>
		<link rel="shortcut icon"  href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgyeRGMsMFkOlxTxuwU3BcBxrkYYNO_L7bc1KxKt8pYgHR_98OYkTVDsiTQxWD_KpLmY8&usqp=CAU">	
		<link rel="stylesheet" href="/main.css">
		<meta name="viewport" content=" user-scalable=no">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<link rel="stylesheet" href="./reset.css">
		<link rel="stylesheet" href="./style.css">
		<link rel="stylesheet" href="./header.css">
		<link rel="stylesheet" href="./bottom-nav.css">
		<link rel="stylesheet" href="./icons.css">
		<link rel="stylesheet" href="./footer.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
		<link rel="stylesheet" href="./768-size.css">
		<link rel="stylesheet" href="./mobile-size.css">
		<meta name="viewport" content="width=device-width,initial-scale=1 ">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Pavanam&family=Shrikhand&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<div class="top">
			<header class="header">
		<div class="header-container">
			<div  class="header-container_logo head">
				<h1 onclick="location.href='/'">
					CafeJeju
				</h1>
			</div>

			
			<div  class="header-container_my head">
				
				<div class="header-nav">
					<i class="fas fa-home fa-lg" onclick="location.href='/'"></i>
				<i class="fas fa-location-arrow fa-lg" onclick="location.href='/around'"></i>
				<i class="fas fa-plus-circle fa-lg" onclick="location.href='/write'"></i>
				<i class="fas fa-heart fa-lg default" onclick="location.href='/wish'"></i>
					
				</div><i class="fas fa-user fa-lg" onclick="location.href='/user?i={{user.id}}'"></i>
			</div>
		
		</div>
	</header>
	</div>
		
		<main>
			<div class="search-container" >
				<div class="search-part width-740">
					<input type="text" id="keyword" placeholder="#검색어" onkeyup="enterkey()" onclick="getValue()" oninput="able()">
					<button type="button" id="searchbtn" onclick="searchPlaces()" disabled><i class="fas fa-search fa-lg  "></i></button>
				</div>

				<div id="map" style="display:none;margin-top:10px;"></div>
				<div id="result" style="display:none;"></div>
				<div class="search-recommend" id="recommend">
					{% for Post in post %}
						{% for Pimg in Post.Pimgs %}
							<img src="{{Pimg.src}}" onclick="location.href='/post?i={{Post.id}}'">
						{% endfor %}
					{% endfor %}
				</div>
				<div id="placesList" style="display:none;">
					<h1>추천 카페</h1>
					{% for Shop in shop %}
						<div class="info" onclick="location.href='shop?i={{Shop.id}}'">
							<div>
							<h5>{{Shop.label}}</h5>
							<div class="street">{{Shop.road_address}}</div>
							<div class="tel">{{Shop.phone}}</div>
							</div>
						<div class=" info-img">
						{% for Simg in Shop.Simgs%}
						<img src="{{Simg.src}}">
						{% endfor %}
					</div>
						</div>
					
					{% endfor %}
				</div>
			</div>

		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5551822d523c32a727c9565bfcb3814&libraries=services"></script>
		</main>
		
		<div class="bottom">
			<nav class="bottom-nav">
				<i class="fas fa-home fa-lg" onclick="location.href='/'"></i>
				<i class="fas fa-location-arrow fa-lg" onclick="location.href='/around'"></i>
				<i class="fas fa-plus-circle fa-lg" onclick="location.href='/write'"></i>
				<i class="fas fa-heart fa-lg default" onclick="location.href='/wish'"></i>
				<i class="fas fa-search fa-lg  " onclick="location.href='/search'"></i>
				
			</nav>
		</div>
	<footer class="footer"></footer>	
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<script>
		function enterkey() {
			if (window.event.keyCode == 13) {
				searchPlaces();
			}
		}
		const searchbtn = document.getElementById('searchbtn');
		const keyword = document.getElementById('keyword');
			
		function able() {
  			searchbtn.disabled = !keyword.value;
		}
		</script>
		<script>	
		var markers = [];
		var ps = new kakao.maps.services.Places();
		var latlng = new kakao.maps.LatLng(33.38000, 126.570667);

		var mapContainer = document.getElementById('map');

		//지도 옵션
		var mapOption = { 
			center: new kakao.maps.LatLng(33.38000, 126.570667),
			level: 10
		};

		//지도 생성
		var map = new kakao.maps.Map(mapContainer, mapOption);

		function getValue(){
			document.getElementById('recommend').style.display = 'none';
			document.getElementById('map').style.display = '';
			document.getElementById('placesList').style.display = '';
			mapContainer = document.getElementById('map');

			//지도 옵션
			mapOption = { 
				center: new kakao.maps.LatLng(33.38000, 126.570667),
				level: 10
			};

			//지도 생성
			map = new kakao.maps.Map(mapContainer, mapOption);
		}

		function searchPlaces() {
			var keyword = document.getElementById('keyword').value;
			axios({
					method:'get',
					url:'/post/searchHash',
					params: {
					keyword:keyword
					}
				})
				.then(function (res) {
					const result = res.data.result;
				    const hashs = res.data.hashs;
					if(result.length != 0){
						var status = 'good';
						placesSearchCB(result, status);
						showHashs(hashs, status);
					}else{
						var status = 'nope';
						placesSearchCB(result, status);
						showHashs(hashs, status);
					}
					return;
				})
				.catch((err) => {
				console.error(err);
				});
		}

		// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
		function placesSearchCB(data, status) {
			if (status === 'good') {
				var el =[];
				for (var i = 0; i < markers.length; i++) {
					markers[i].setMap(null);
				}
				for(var j=0;j<data.length;j++){
					var x = data[j].x;
					var y = data[j].y;
					var title = "'" + data[j].label + "'";
					var road_address = "'" + data[j].road_address + "'";
					var id = data[j].id ;

					posi(x,y,title);

					var itemStr = `<div class="info" onclick="location.href='shop?i=${id}'">` +  '<h5>' + data[j].label + '</h5>';
					itemStr += '<div class="street">' + data[j].road_address + '</div>';
					itemStr += '<div class="tel">' + data[j].phone  + '</div>' +
								 '</div>';           
					el += itemStr;
				}
				document.getElementById('placesList').innerHTML = '';
				document.getElementById('placesList').innerHTML = el;

				var markerPosition = new kakao.maps.LatLng(data[0].y, data[0].x);
				map.setCenter(markerPosition);
				map.setLevel(7);

			} else if (status === 'nope') {
				return;
			} else if (status === 'error') {
				alert('검색 결과 중 오류가 발생했습니다.');
				return;
			}
		}

		function posi(x,y,title){
			var position = new kakao.maps.LatLng(y, x);

			addMarkers(position, title);
		}

		function posit(x,y,title,road_address, img){

			for (var i = 0; i < markers.length; i++) {
				markers[i].setMap(null);
			} 

			addMarker(x,y,title,road_address, img);
		}

		function addMarkers(position, title){

			 var imageSrc = "https://millim.s3.ap-northeast-2.amazonaws.com/emotion/dislike.png";
			 var imageSize = new kakao.maps.Size(30, 30); 
			 var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

			 var marker = new kakao.maps.Marker({
				map: map, // 마커를 표시할 지도
				position: position, // 마커의 위치
				image : markerImage
			});
			markers.push(marker);

			document.getElementById('placesList').innerHTML = '';

			var infowindow = new kakao.maps.InfoWindow({ content: title });
			kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
			kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));

		}

		function addMarker(x,y,title,road_address, id){

			 var imageSrc = "https://millim.s3.ap-northeast-2.amazonaws.com/emotion/like.png";
			 var imageSize = new kakao.maps.Size(30, 30); 
			 var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

			 var position = new kakao.maps.LatLng(y, x);
			 var marker = new kakao.maps.Marker({
				map: map, // 마커를 표시할 지도
				position: position, // 마커의 위치
				image : markerImage
			});
			markers.push(marker);
			map.setCenter(position);

					document.getElementById('placesList').innerHTML = '';
					document.getElementById('result').style.display = '';

					var text = "<div class='around-result-container'>" +
									"<div class='around-result-img'>" +
										"<img src='" + img + "'>" +
									"</div>" +
									"<div class='around-result-content'>" +
										"<div class='around-result-name'>" + 
											"<h1>" + title + "</h1>" +
											"<p>" + road_address + "</p>" +
										"</div>" +
									"</div>" +
								"</div>";

					document.getElementById('placesList').innerHTML = text;


			var infowindow = new kakao.maps.InfoWindow({ content: title });
			kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
			kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));

		}

		function makeOverListener(map, marker, infowindow) {
			return function() {
				infowindow.open(map, marker);
			};
		}

		function makeOutListener(infowindow) {
			return function() {
				infowindow.close();
			};
		}
		function showHashs(hashs, status){
			var el =[];
			if(hashs.length != 0){
				for(var j=0;j<hashs.length;j++){
					var title = hashs[j].title;
					var itemStr = `<div class="info" onclick="location.href='hash?title=${title}'">` +
									"<h5> #" + hashs[j].title + "</h5>" +
									'<div class="tel">' + hashs[j].length + '개의 게시물</div>' +
									'</div>';
				el += itemStr;
				}
				if(status == 'good'){
				document.getElementById('placesList').innerHTML += el;
				}else{
					document.getElementById('placesList').innerHTML = el;
				}
			}else{
				if(status == 'good'){
					return;
				}else{
					alert('검색 결과가 없습니다.');
					return;
				}
			}
		}
		</script>
		
	</body>
</html>
